<div class="client">
    <h1> Here Also You Can Pranams Policy Go and Register :</h1>
    <ol>

        <li><a href="#">Pranams Mobile service center </a></li><br><br>
        
        <li><a href="#">SLV Mobile Shop Sindhnur </a></li><br><br>

        <li><a href="#">SLV Mobile Shop Sindhnur </a></li><br><br>

        <li><a href="#">SLV Mobile Shop Sindhnur </a></li><br><br>

        <li><a href="#">SLV Mobile Shop Sindhnur </a></li><br><br>

        <li><a href="#">SLV Mobile Shop Sindhnur </a></li><br><br>

        <li><a href="#">SLV Mobile Shop Sindhnur </a></li><br><br>

        <li><a href="#">SLV Mobile Shop Sindhnur </a></li><br><br>

        <li><a href="#">SLV Mobile Shop Sindhnur </a></li><br><br>

        <li><a href="#">SLV Mobile Shop Sindhnur </a></li><br><br>

    </ol>
    
</div>




<button class="btn btn-primary"
  [disabled]="!allowNewClients"> Register </button>
  <p [innerText]="allowNewClients">{{ allowNewClients }}</p>