<marquee width="100%" direction="left" height="30%" style="font-size: 25px;">
    Welcome to mobile services center
    near new bus stand sindhnur 584128
</marquee>
<h1 style="color:rgb(151, 151, 151); text-align: center; font-size: 35px;">Welcome To {{ abc }}</h1>
<!-- <img src="pranamS.jpg"  width="500" height="333"> -->
<table>
<th><a [routerLink]="[ '/path' ]">Home</a></th>
<th><a [routerLink]="[ '/path' ]">Contact</a></th>
<th><a [routerLink]="[ '/path' ]">Clients</a></th>
<th><a (click)="router('/register')">Registration</a></th>
</table>

<p style="font-size: 20px;">

    PranamS is one of the best offline protection policy.
    And PranamS Protection plan protects your smartphone
    and gives you complete peace of mind against any kind of accidental damages. 
    With PranamS Protection plan ever if your smartphone slip from your hands or pocket accidentally
    and breaks you don't need to worry about the painof talking it to service and bearing a huge cost,
    PranamS will arrange for a pickup of your device from your doorstep, take it service center,
    and get it repaired and deliver it back to you without you stepping out of your house and spending a single rupee. 
                
</p>
<p style="font-size: 20px;">
  you have recently purchased an most expensive Smartphone and you wish to safeguard it from screen damage and other software issues a PranamS protection policy can help you in the regard. And PranamS protection gives you peace of mind.
</p>
<div class="container">
<h3>WHY PRANAMS ?</h3>
<ol>
  <li>Huge cost saving upto 75%</li>
  <li>no more extra cost </li>
  <li>Gives best benefits </li>
  <li>Free pickup and drop sevrice </li>
  <li>We are available easy at you nearest City </li>
  <li>You can get this service at any nearest Mobile Shops </li>
</ol>  
</div>
<div class="feature">
<h4>FEATURES </h4>
<ul>
  <li>With in a month from the date of your purchase of brand new cell phone from the related outlet, you can simply avail our pranams service.</li>
  <li> Repair for Screen Display and Combo</li>
  <li> Repair for Hardware and Software</li>
  <li>Guaranteed Repair And Brand Authorised Repair</li>
</ul>
</div>
<div class="term">
<h4>TERMS AND CONDITIONS</h4>
<ol>
  <li> The Pranams protection Policy Will Be Valid For A duration Of year from The Date Of Mobile Purchased Date. </li>
  <li> In This Period You Will Be Eligible For 1st Time Accidental Damage. LIKE Display,Screen And Combo.</li>
  <li> Pranams Protection Plan Is Only Available With New Phones.</li>
  <li>Pranams Policy Is Not Eligible For theft and Water Damages. </li>
  <li>The Pranams Policy Is Non-Transferrable. </li>
</ol>

</div>
<div class="imag">
<table>
  <th><img src="assets/11.png" class="imageWrapper"></th>
  <th><img src="assets/2.png" class="imageWrapper"></th>
  <th><img src="assets/1.png" class="imageWrapper"></th>
</table>
</div>
<div class="add">
  <address>
      <a style="font-size: 20px; font-style: bold;">Address :</a><br>
      Owned by <a style="font-size: 20px;" href="mailto:ajaya.becs.15@acharya.ac.in">Chetan</a>.<br> 
      Pranams mobile service center Sindhnur<br>
      http://pranams.com<br>
      G Venkatrao Colony near new Bus Stand Sindhnur 584128<br>
      Karnataka, India
      </address>
</div>