 <h2>PRANAMS</h2>
<div class="container">
    <p>Fill All Mandatory Details Below :</p>
    <h4>Displaying Insurance Card -</h4>
    <label for="Name"><b>Name Of Customer :</b></label>
      <input type="text" placeholder="Enter Name" name="email" required><br><br>
      
    <label for="Address"><b>Permanent Address :</b></label>
    <input type="text" placeholder="Enter Permanent Address" name="Address" required><br><br>
    
    <label for="Number"><b>Contact Number :</b></label>
      <input type="text" placeholder="Enter Number" name="Number" required><br><br>
      
    <label for="Mobile Name"><b>"Purchased Mobile Name :</b></label>
    <input type="text" placeholder="Enter Mobile Name" name="Mobile" required><br><br>
    
    <label for="Number"><b>IMEI number :</b></label>
      <input type="text" placeholder="Enter Number Properly" name="Number" required><br><br>
      
    <label for="Price"><b>Mobile Price :</b></label>
    <input type="text" placeholder="Enter Mobile Price" name="Price" required><br><br>
    
    <label for="Price"><b>Enter Pranams price :</b></label>
      <input type="text" placeholder="Enter Price" name="price" required><br><br>
      
    <label for="Date"><b>Purchased Date :</b></label>
    <input type="text" placeholder="Enter Date" name="Date" required><br><br>
    
    <label for="Images"><b>Images :</b></label>
      <input type="text" placeholder="Upload Images" name="Images" required><br><br>

      <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p><br><br>
      <button>Submit</button>
      
</div>



 <!-- <p> {{ RegisterID }} and {{ RegisterStatus }} is {{ RegisterStatus() }} </p> -->